<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}SER Project{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Speech Emotion Recognition</h1>
            <!-- Hamburger Menu Icon -->
            <div class="menu-toggle" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <nav class="nav-links">
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('upload') }}">Upload</a>
                <a href="{{ url_for('about') }}">About Project</a>
                <a href="{{ url_for('dataset') }}">Dataset</a>
                <a href="{{ url_for('ml_model') }}">ML Model</a>
            </nav>
        </div>
    </header> 
    

    <!-- Main Content -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 SER Project. All rights reserved.</p>
    </footer>

    <script>
     function toggleMenu() {
    const navLinks = document.querySelector('.nav-links');
    navLinks.classList.toggle('active');
}
   
    </script>
    
</body>
</html>
